body{
    margin: 0;
    overscroll-behavior: none;
}

/* header of the page */

.top_bar{
    width: 100%;
    height: 110px;
    background-color: hsl(39, 100%, 50%);
    top: 0;
    display: flex;
    justify-content: center;
}
#page_name{
    font-size: 30px;
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 10px;
    font-family: 'Comfortaa','Times New Roman', Times, serif;
}
@media only screen and (max-width: 600px){
    #page_name{
        font-size: 25px;
    }
}
.nav_bar{
    margin: 0;
    padding-top: 75px;
    display: flex;
    justify-content: space-around;
}
.nav_bar a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: khaki;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 20px;
    font-size: 20px;
    border: 1.5px;
    border-color: black;
    border-style: solid;
    white-space: nowrap;
    border-radius: 10px;
}
.nav_bar div{
    transition: all 0.4s ease;
    margin-right: 5%;
    margin-left: 5%;
}
.nav_bar div:hover{
    transform: scale(1.5);
    /*font-weight: 600;*/
    margin-right: calc(5% + 12px);
    margin-left: calc(5% + 12px);
}

/* top of the page area */

#Introduction-name{
    font-family: 'Comfortaa','Orbitron', 'Verdana';
    font-size: 20px;
    font-size: 20px;
    padding-left: 18%;
    font-weight: bold;
    font-style: italic;
    text-shadow: 8px 8px 7px hsl(0, 3%, 58%);
    animation: spinning-text;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite
}
@keyframes slide-in{
    from{translate: 100%;}
}
@keyframes spinning-text{
    33%{transform: rotateZ(6deg);}
    66%{transform: rotateZ(-6deg);}
    99%{transform: rotateZ(0deg);}
}
.Top-part-of-main{
    display: flex;
    animation: slide-in;
    animation-duration: 1s;
}
#image-of-cool-fellow{
    align-self: right;
    margin-left: 10%;
    border-radius: 20px;
}

@media only screen and (max-width: 800px){
    .Top-part-of-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #image-of-a-cool-fellow{
        align-self: bottom;
    }
}

#introduction-explanation{
    border: solid black 2px;
    border-radius: 8px;
    padding: 0.55vw;
    padding: 0.75vh;
    display: block;
    margin-left: 10%;
    margin-top: 7%;
    max-width: 60vw;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%) , hsl(5, 100%, 100%));
    line-height: 150%;
    font-family: 'Comfortaa', 'Verdana', 'Times New Roman', 'Comic Sans MS';
}
#Introductory-Text{
    max-width: 70%;
}

/* Middle of the page area */


hr{
    border: 1.5px solid orange;
    border-radius: 5px;
}
@keyframes slide-in-opposite{
    from{translate: -100%;}
}
#middle-section{
    animation: slide-in-opposite;
    animation-duration: 1s;
}
#introduction-explanation_2{
    border: solid black 2px;
    border-radius: 8px;
    padding: 0.5vw;
    padding: 0.75vh;
    display: block;
    margin-left: 12%;
    width: 75%;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%) , hsl(5, 100%, 100%));
    line-height: 150%;
    text-align: center;
}
#introduction-explanation_2 p{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', 'Verdana', 'Times New Roman';
}

/* Helpful HyperLinks section */

.helpful-hyperlinks{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 800px) {
    .helpful-hyperlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .helpful-hyperlinks div{
        margin-top: 15px;
    }
}
.brocode-hyperlink{
    padding: none;
    padding-left: 1%;
    padding-right: 2%;
    border: solid 2px;
    max-width: 115px;
    text-decoration: none;
    border-radius: 12px;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
    transition: all 0.4s ease;
    object-fit: contain;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brocode-hyperlink:hover{
    transform: scale(1.1);
}
.brocode-hyperlink a{
    text-decoration: none;
    margin: none;
    padding: none;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
    font-family: 'Comfortaa', 'Orbitron', 'Verdana', 'Times New Roman';
    color: black;
}
.brocode-hyperlink img{
    margin: 5%;
    margin-bottom: none;
    padding: 5%;
    padding-bottom: none;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.brocode-hyperlink p{
    text-decoration: none;
    color: black;
    margin: none;
    padding-left: 5%;
    padding-right: 15%;
    font-size: 20px;
}
.W3Schools-hyperlink{
    padding: none;
    padding-left: 1%;
    padding-right: 2%;
    margin: none;
    border: solid 2px;
    max-width: 115px;
    text-decoration: none;
    border-radius: 12px;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
    transition: all 0.4s ease;
    object-fit: contain;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.W3Schools-hyperlink:hover{
    transform: scale(1.1);
}
.W3Schools-hyperlink a{
    text-decoration: none;
    margin: none;
    padding: none;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
    font-family: 'Comfortaa', 'Orbitron', 'Verdana', 'Times New Roman';
    color: black;
    width: auto;
    height: auto;
}
.W3Schools-hyperlink p{
    text-decoration: none;
    color: black;
    margin: none;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}
.W3Schools-hyperlink img{
    margin: 5%;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 5%;
    padding-bottom: none;
    padding-left: none;
    padding-right: none;
    object-fit: contain;
    max-width: 92%;
    max-height: 92%;
    width: auto;
    height: auto;
}
.Freecodecamp-hyperlink{
    padding: none;
    padding-left: 1%;
    padding-right: 2%;
    border: solid 2px;
    max-width: 115px;
    text-decoration: none;
    border-radius: 12px;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
    transition: all 0.4s ease;
    object-fit: contain;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Freecodecamp-hyperlink:hover{
    transform: scale(1.1);
}
.Freecodecamp-hyperlink a{
    text-decoration: none;
    margin: none;
    padding: none;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
    font-family: 'Comfortaa', 'Orbitron', 'Verdana', 'Times New Roman';
    color: black;
    width: auto;
    height: auto;
}
.Freecodecamp-hyperlink img{
    margin: 5%;
    margin-bottom: none;
    margin-left: 12%;
    margin-right: 12%;
    padding: 5%;
    padding-bottom: none;
    padding-left: none;
    padding-right: none;
    object-fit: contain;
    max-width: 66%;
    max-height: 66%;
}
.Freecodecamp-hyperlink p{
    text-decoration: none;
    color: black;
    margin: none;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    max-width: 66%;
    max-height: 66%;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 800px){

    .Freecodecamp-hyperlink p{
        text-decoration: none;
        color: black;
        margin: none;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 15px;
        max-width: 66%;
        max-height: 66%;
        width: auto;
        height: auto;
    }

    .Freecodecamp-hyperlink img{
        margin: 5%;
        margin-bottom: none;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5%;
        padding-bottom: none;
        padding-left: none;
        padding-right: none;
        object-fit: contain;
        max-width: 66%;
        max-height: 66%;
    }

    .Freecodecamp-hyperlink{
        padding: none;
        padding-left: 1%;
        padding-right: 2%;
        border: solid 2px;
        max-width: 120px;
        text-decoration: none;
        border-radius: 12px;
        background: linear-gradient(to bottom left, hsl(197, 100%, 90%), hsl(5, 100%, 100%));
        transition: all 0.4s ease;
        object-fit: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .brocode-hyperlink{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brocode-hyperlink a{
        margin: none;
        padding: none;
    }

    .brocode-hyperlink img{
        margin: 5%;
        margin-bottom: none;
        margin-right: 15%;
        padding: 5%;
        padding-bottom: none;
        padding-right: 10%;
        object-fit: contain;
        max-width: 92%;
        max-height: 92%;
    }

}

/* Footer of index */

footer{
    margin: 0;
    padding: 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#website-last-updated{
    font-family: 'Comfortaa', 'Orbitron', 'Verdana';
}
.index-footer{
    background-color: hsl(39, 100%, 50%);
    margin: 0;
    padding: 0;
    width: 280px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}
.index-footer a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-family: 'Comfortaa', 'Verdana', 'Times New Roman';
    transition: all 0.5s ease;
    padding: 2.5%;
    align-self: center;
    justify-self: center;
}
#GitHub-link{
    margin-left: none;
    padding-left: none;
}
#Bandlab-link{
    padding-right: none;
}
#Email-Contact{
    margin-left: 10%;
    margin-right: 10%;
}
.index-footer a:hover{
    border: solid 1px black;
    border-radius: 4px;
}

/*  Works page  */

.tkinter-python-rps{
    width: auto;
    height: 510px;
    max-width: 80%;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    background: linear-gradient(to bottom left, hsl(197, 100%, 90%) , hsl(5, 100%, 100%));
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    animation: slide-in;
    animation-duration: 1s;
}
.tkinter-python-rps-text{
    text-decoration: none;
    color: black;
    font-size: 20px;
    max-width: 100%;
    max-height: 50%;
}
.tkinter-python-rps-text p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#rock-paper-scissors-tkinter-title{
    padding: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-family: 'Comfortaa', 'Orbitron', 'Verdana';
    text-decoration: none;
}
#rps-explanation{
    padding: 5%;
    margin-top: 0;
    font-size: 18px;
    font-family: 'Comfortaa', 'Orbitron', 'Verdana';
    text-decoration: none;
}
#rps-image-div{
    max-width: 50%;
    max-height: 50%;
    margin: 0;
    margin-right: 10%;
    padding: none;
}
#rps-image{
    margin: none;
    margin-right: 10%;
    margin-bottom: 10px;
    padding: none;
    padding-top: 2%;
    max-width: 330px;
    max-height: 350px;
}
#RPS-hyperlink{
    text-decoration: none;
}

@media only screen and (min-width: 800px){
    .tkinter-python-rps{
        height: 550px;
    }
}

@media only screen and (max-width:600px){
    #rps-image{
        max-width: 280px;
        max-height: 300px;
    }
}

/* EPQ Page */

#Coming-Soon{
    font-family: 'Comfortaa', 'Orbitron', 'Verdana';
    font-size: 25px;
    color: black;
}
.coming-soon-div{
    display: flex;
    justify-content: space-around;
    animation: slide-in-opposite;
    animation-duration: 1s;
}
